<!doctype html>
<html>
	<head>
		<title>flipTable - Signup</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/views/signup.js"></script>
		<script>
			$("#signup").submit(function(event){
				event.preventDefault();
				var formData = {
					username : $("#username").val(),
					password : $("#password").val(),
					unit : $("#unit").val()
				};
				$.post("/api/createuser", formData).done(function(data){
					alert( "Data Loaded: " + data );
				});
			});
		</script>
	</head>
	<body>
		<div class="row">
			<form id="signup" class="col s8 offset-s2" method="post" action="/api/createuser">
				<div class="row">
					<div class="input-field col s12">
						<input id="username" type="text" class="validate">
						<label for="username">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="unit" type="text" class="validate">
						<label for="unit">Unit #</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<input class="waves-effect waves-light btn" type="submit" value="Submit!">
			</form>
		</div>
	</body>
</html>