@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oyteqy');
  src:  url('fonts/icomoon.eot?oyteqy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oyteqy') format('truetype'),
    url('fonts/icomoon.woff?oyteqy') format('woff'),
    url('fonts/icomoon.svg?oyteqy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f03a";
}
.icon-comment-discussion:before {
  content: "\f04f";
}

