<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="icomoon/style.css" />
	<title>Bukct</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</head>
<body>
	<div id="app">
		<nav>
			<div class="nav-wrapper">
				<a v-if="view == 'request'" class="brand-logo">Request for help</a>
				<a v-else-if="view == 'donate'" class="brand-logo">Donate an item</a>
				<a v-else class="brand-logo">{{ title }}</a>
				<div v-if="view == 'request'">
					<div v-on:click="request.submit"><i class="icon-check"></i></div>
				</div>
				<div v-else-if="view == 'donate'">
					<div v-on:click="donate.submit"><i class="icon-check"></i></div>
				</div>
			</div>
		</nav>
		<main>
			<div class="row">
				<div class="col s8 offset-s2">
					<div class="card">

					</div>
				</div>
			</div>
			<div v-if="view == 'home'">
				<h1>Requested</h1>
				<div v-on:click="view = 'request'">
					Request an item
				</div>
				<ul v-if="requested">
					<li v-for="item in requested">item.description</li>
				</ul>
				<div v-else>
					Nothing requsted
				</div>
				<h1>Donated</h1>
				<div v-on:click="view = 'donate'">
					Donate an item
				</div>
				<ul v-if="requested">
					<li v-for="item in donated">item.description</li>
				</ul>
				<div v-else>
					Nothing donated
				</div>
			</div>
			<div v-if="view == 'donate'">
				<div class="form-group">
					<textarea placeholder="Description" v-model="donate.description"></textarea>
				</div>
				<div class="form-group">
					<input type="checkbox" v-model="donate.bringrc" id="bringrc" /> <label for="bringrc">Will bring down to the RC</label>
				</div>
				<div class="form-group" v-if="donate.bringrc">
					<select v-model="donate.rcname">
						<option>Casa Clementi</option>
						<option>Clementi Zone 1</option>
						<option>Clementi Zone 2</option>
						<option>Clementi Zone 3</option>
						<option>Clementi Zone 4</option>
					</select>
				</div>
			</div>
			<div v-if="view == 'request'">
				<div class="form-group">
					<textarea placeholder="Description" v-model="request.description"></textarea>
				</div>
				<div class="form-group">

				</div>
			</div>
		</main>
	</div>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script>
		(() => {
			const app = new Vue({
				el: '#app',
				data: {
					title: 'Buckt',
					view: 'home',
					donate: {
						bringrc: true,
					},
					request: {
					},
					requested: {

					},
					donated: {

					},
				},
				methods: {
					donate: {
						submit: () => {
							
						},
					},
					request: {
						submit: () => {
							
						},
					},
				},
			})
			
		})()
	</script>
</body>
</html>
